<html>
    <head>
        <title>app_name</title>
        {% load staticfiles %}

        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
        <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/masonry.pkgd.min.js" %}"></script>

        <script>

            $( document ).ready(
                function() {
                    alert( "document loaded" );

                    $("#siteloader").html('<object data="http://visual.ly/" />');
                   // $("#siteloader").html('<object data="https://system.netsuite.com/pages/customerlogin.jsp?country=US" />');

                    var $container = $('#container');
            
                    // initialize
                    $container.masonry({
                        columnWidth: 200,
                        itemSelector: '.item'
                    });

                    var msnry = $container.data('masonry');
    
                    $( "#text2" )
                        .mouseenter(
                            function() {
                                $(this).hide();
                                $("#text2_hover").show();
                            });

                    $( "#text2_hover" )
                        .mouseleave(
                            function() {
                                $(this).hide();
                                $("#text2").show();
                            });

                    $( "#text5" )
                        .mouseenter(
                            function() {
                                $(this).hide();
                                $("#text5_hover").show();
                            });

                    $( "#text5_hover" )
                        .mouseleave(
                            function() {
                                $(this).hide();
                                $("#text5").show();
                            })

                        .click(
                            function() {
                                $("#text6").fadeOut();
                                $("#wn_form").fadeIn();
                            });

                });

        </script>

    </head>

    <body>

        <header>

        <div id="navigation_bar">

            <div class="authors" style="display: inline-block;
                                        position: absolute;
                                        left: 50px;">
                Daniela Rodriguez | Jose Montenegro | Michelle Fernandez</div>

            <div id="discover_bar">

                <img src="{% static "images/thumbs_up_icon.png" %}" class="thumbs">

                <form id="discover_form" action="" method="get">
                    <input class="button discover" type="image" alt="submit" value="" src="{% static "images/DISCOVER.png" %}">
                </form>

                <img src="{% static "images/thumbs_down_icon.png" %}" class="thumbs">

            </div>

    <!--        {% if logged %}
                    <p style="color: green;">
                        <strong>{{ username }}</strong> 
                    </p>
                {% else %}
                    <p style="color: red;">
                        Log In.
                    </p>
                {% endif %} </!-->

                <div id="username"> username </div>

                <img src="{% static "images/user_24x32.png" %}" style="display: inline-block;
                                                                        position: absolute;
                                                                        vertical-align: middle;
                                                                        right: 30;
                                                                        top: 16;">
<!-- 
            <form id="sign_in_form" action="" method="get">
                <input id="sign_in" type="text" name="username" placeholder="username">
                <input id="sign_in" type="password" name="password" placeholder="password">
                <input class="button sign_in" type="submit" value="sign in">
            </form>
</!-->


            </div>

        </header>

        <center>

            <div id="siteloader"></div>

        </center>
    
    </body>

</html>
