<html>
    <head>
        <title>app_name</title>
        {% load staticfiles %}

        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
        <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/masonry.pkgd.min.js" %}"></script>
        <script src="{% static "js/jquery.leanModal.min.js" %}"></script>
        <script src="{% static "js/functions.js" %}"></script>

    </head>

    <body>

        <header>

        <div id="navigation_bar">

            <div class="authors" style="display: inline-block;
                                        position: absolute;
                                        left: 50px;">
                Daniela Rodriguez | Jose Montenegro | Michelle Fernandez</div>

            <div id="discover_bar" style="position: absolute;
                                          top: 16;
                                          left: 600;">
<!-- 
                <img src="{% static "images/thumbs_up_icon.png" %}" class="thumbs">
</!-->

                <form id="discover_form" action="" method="get">
                    <input class="button discover" type="image" alt="submit" value="" src="{% static "images/DISCOVER.png" %}">
                </form>
<!-- 
                <img src="{% static "images/thumbs_down_icon.png" %}" class="thumbs">
</!-->

            </div>

    <!--        {% if logged %}
                    <p style="color: green;">
                        <strong>{{ username }}</strong> 
                    </p>
                {% else %}
                    <p style="color: red;">
                        Log In.
                    </p>
                {% endif %} </!-->

            <form id="sign_in_form" action="" method="get">
                <input id="sign_in" type="text" name="username" placeholder="username">
                <input id="sign_in" type="password" name="password" placeholder="password">
                <input class="button sign_in" type="submit" value="sign in">
            </form>

            <div id="sign_up">
                <div class="button sign_in" style="color: rgb(173, 66, 66);                                                       display: inline-block;
                                                   position: absolute;
                                                   right: 23;
                                                   vertical-align: middle;
                                                   line-height: 50px;"> 
                    Sign Up
                </div>
            </div>

        </div>

        </header>

        <center>

            <div id="siteloader"></div>

            <div id="signup">
                <div id="signup-ct">
                    <div id="signup-header">
                        <h2>Registration Form</h2>
                        <a class="modal_close" href="#"></a>
                    </div>

                    <form action="">

                        <div class="txt-fld">
                            <label for="">Username</label>
                            <input id="" class="good_input" name="" type="text">
                        </div>

                        <div class="txt-fld">
                            <label for="">Email address</label>
                            <input id="" name="" type="text">
                        </div>

                        <div class="txt-fld">
                            <label for="">Password</label>
                            <input id="" name="" type="text">
                        </div>

                        <div class="btn-fld">
                            <button type="submit">Sign Up »</button>
                        </div>

                    </form>

                </div>
            </div>            

        </center>
    
    </body>

</html>
