<html>
    <head>
        <title>app_name</title>
        {% load staticfiles %}

        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css">
        <script type="text/javascript" src="{% static "js/jquery-1.10.2.js" %}"></script>
        <script src="{% static "js/masonry.pkgd.min.js" %}"></script>

        <script>

            $( document ).ready(
                function() {
                    alert( "document loaded" );

                    var $container = $('#container');
            
                    // initialize
                    $container.masonry({
                        columnWidth: 200,
                        itemSelector: '.item'
                    });

                    var msnry = $container.data('masonry');
    
                    $( "#text2" )
                        .mouseenter(
                            function() {
                                $(this).hide();
                                $("#text2_hover").show();
                            });

                    $( "#text2_hover" )
                        .mouseleave(
                            function() {
                                $(this).hide();
                                $("#text2").show();
                            });

                    $( "#text5" )
                        .mouseenter(
                            function() {
                                $(this).hide();
                                $("#text5_hover").show();
                            });

                    $( "#text5_hover" )
                        .mouseleave(
                            function() {
                                $(this).hide();
                                $("#text5").show();
                            })

                        .click(
                            function() {
                                $("#text6").fadeOut();
                                $("#wn_form").fadeIn();
                            });

                });

        </script>

    </head>

    <body>
        <header>

            <div id="navigation_bar">

    <!--        {% if logged %}
                    <p style="color: green;">
                        <strong>{{ username }}</strong> 
                    </p>
                {% else %}
                    <p style="color: red;">
                        Log In.
                    </p>
                {% endif %} </!-->

            <form id="sign_in_form" action="" method="get">
                <input id="sign_in" type="text" name="username" placeholder="username">
                <input id="sign_in" type="password" name="password" placeholder="password">
                <input class="button sign_in" type="submit" value="sign in">
            </form>


            </div>

        </header>

        <center>
            <div id="main">

<!--
            <form action="" method="get">
                <input type="submit" value="Discover">
            </form>

            <form action="" method="get">
             <input type="text" name="url">
                <input type="submit" value="What's new with this?">
            </form>
</!-->

            <div id="container">
                
                <img class="menu_image" id="welcome" src="{% static "images/Welcome to.png" %}">
                <img class="menu_image" id="name" src="{% static "images/APP_NAME.png" %}">
                <img class="menu_image" id="text1" src="{% static "images/You can either.png" %}">

                <img class="menu_image" id="text2" src="{% static "images/DISCOVER.png" %}">

                <form action="" method="get">
                    <img type="submit" class="menu_image" id="text2_hover" src="{% static "images/DISCOVER_hover.png" %}">
                </form>
                <img class="menu_image" id="text3" src="{% static "images/new pages over the web.png" %}">
                <img class="menu_image" id="text4" src="{% static "images/Or checkout.png" %}">
                <img class="menu_image" id="text5" src="{% static "images/What's new with.png" %}">
                <img class="menu_image" id="text5_hover" src="{% static "images/What's new with_hover.png" %}">
               
                 
                <form id="wn_form" action="{% url 'discover_app:whatsnew' %}" 
                                                                 method="post">
                    {% csrf_token %}
                    <input id="whats_new" type="text" name="whats_new_with">
                </form>

                <img class="menu_image" id="text6" src="{% static "images/a specific topic.png" %}">
            </div>

            <div id="footer">
                <div class="h_bar"></div>
                <div class="authors"> Daniela Rodriguez | 
                                      Jose Montenegro | 
                                      Michelle Fernandez 
                </div>
            </div>

        </div>
        </center>

    
    </body>

</html>
