@font-face {
    font-family: 'Higher';
    /*src: url('http://domain.com/fonts/font.ttf');*/
}

#lean_overlay {
        position: fixed;
        z-index:100;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #000;
        display: none;
}

object {
    width: 100%;
    height: 90%;
    background: white;
}   

body {
/*    background: white; */
    background: #27807C;
    font-family: "Calibri", Georgia, Tahoma, Geneva, sans-serif;
}    

input {
    border-radius: 4px;

    color: #838383; 
}

input:focus {
    color: #ccc;
    transition: color .2s linear 0;
    -webkit-transition: color .2s linear 0;
    -moz-transition: color .2s linear 0
}

/* Barra de Navegacion */
#navigation_bar {
    height: 50px;
    width: 100%;
    background: black;

    text-align: center;
    vertical-align: middle;
    line-height: 50px;

}

#discover_bar {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

.thumbs {
    display: inline-block;
    vertical-align: middle;
    width: 50;
}

#sign_in {
    width: 89;
    height: 13;

    font-size: 10px;
    text-align: center;
}

#username {
    width: 89;
    height: 13;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    display: inline-block;

    color: white;
    position: absolute;
    right: 64;
}

/* Personalizacion de los placeholders */
input::-webkit-input-placeholder {
    color: #838383;
    font-style: italic;
}

input:focus::-webkit-input-placeholder {
    color: #ccc;
    transition: color .2s linear 0;
    -webkit-transition: color .2s linear 0;
    -moz-transition: color .2s linear 0
}

input:-moz-placeholder { /* Firefox 18- */
    color: #838383;
    font-style: italic;
}

input:focus:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    transition: color .2s linear 0;
    -webkit-transition: color .2s linear 0;
    -moz-transition: color .2s linear 0
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #838383;
    font-style: italic;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;
    transition: color .2s linear 0;
    -webkit-transition: color .2s linear 0;
    -moz-transition: color .2s linear 0
}

input::-ms-input-placeholder {  
    color: #838383;
    font-style: italic;
}

input:focus:-ms-input-placeholder {  
    color: #ccc;
    transition: color .2s linear 0;
    -webkit-transition: color .2s linear 0;
    -moz-transition: color .2s linear 0
}

#sign_in_form {
    display: inline-block;
    position: absolute;

    right: 80px;
}

#discover_form {
    display: inline-block;
}

/* Clase base para los botones */
.button {
    cursor: pointer;
}

.button.sign_in {
    font-size: 14px;
    font-weight: bold;
    color: white;

    background: transparent;
    border: transparent;
}

.button.discover {
    width: 175;
    vertical-align: middle;
}

#main {
    width: 1000;
    height: 500;
    background: white;

    position: relative;
}

#signup {
    width: 404px;
    padding-bottom: 2px;
    
    display:none;
    position: fixed;
    opacity: 1;
    z-index: 11000;
    left: 50%;
    margin-left: -202px;
    top: 103px;
    
    background: #FFF;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); 
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
                                                                               #signup-header { 
    background: url(../../static/images/hd-bg.png); 
    padding: 18px 18px 14px 18px; 
    border-bottom: 1px solid #CCC; 
    border-top-left-radius: 5px; 
    -moz-border-radius-topleft: 5px; 
    -webkit-border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    -moz-border-radius-topright: 5px; 
    -webkit-border-top-right-radius: 5px; 
}
                                                                               #signup-header  h2 {
    color: #444; 
    font-size: 2em; 
    font-weight: 700; 
    margin-bottom: 3px; 
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
}
                                                                               #signup-header  p { 
    color: #444; 
    font-size: 1.3em; 
    margin: 0; 
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
    text-shadow: none; 
}
                                                                               #signup .txt-fld { 
    position: relative; 
    width: 364px; 
    padding: 14px 20px; 
    border-bottom: 1px solid #EEE; 
    text-align: right; 
}
                                                                               #signup .btn-fld { 
    width: 254px; 
    overflow: hidden; 
    padding: 12px 20px 12px 130px; 
}
                                                                               #signup .txt-fld label { 
    display: block; 
    float: left; 
    width: 90px; 
    padding-top: 8px; 
    color: #222; 
    font-size: 14; 
    text-align: left;  
}
                                                                               #signup .txt-fld input { 
    width: 244px; 
    padding: 8px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    font-size: 12; 
    color: #222; 
    background: #F7F7F7; 
    font-family: "Calibri", Georgia, Tahoma, Geneva, sans-serif; 
    outline: none; 
    border-top: 1px solid #CCC; 
    border-left: 1px solid #CCC; 
    border-right: 1px solid #E7E6E6; 
    border-bottom: 1px solid #E7E6E6; 
}
                                                                               #signup .txt-fld input.good_input { 
    background: #DEF5E1 url(../img/good.png) 236px center no-repeat; 
}
                                                                               #signup .txt-fld input.error_input { 
    background: #FDE0E0; 
}
                                                                               p.error { 
    position: absolute; 
    bottom: 48px; 
    right: 20px; 
    width: 262px; 
    color: #FFF; 
    font-size: 1.1em; 
    padding-bottom: 5px; 
    background: url(../img/error-arw.png) 20px bottom no-repeat; 
    text-align: left; 
    margin: 0; 
    text-shadow: none; 
}
                                                                               p.error span { 
    display: inline-block; 
    background: #D43636; 
    padding: 6px; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;  
}
                                                                               .txt-fld input:focus, .txt-fld textarea:focus { 
    background-color: #FAF9DC; 
}
                                                                               button {
    float: right;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #3F9D4A; 
    border: none;
    width: auto;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    padding: 7px 10px;  
    border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    font-weight: bold; 
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

.modal_close { 
    position: absolute; 
    top: 12px; 
    right: 12px; 
    display: block; 
    width: 14px; 
    height: 14px; 
    background: url(../../static/images/modal_close.png); 
    z-index: 2; 
}

/* Imagenes del menu */
#container {
    padding-top: 50;
}

.menu_image {
 /*   position: relative; */
}

#welcome.menu_image {
/*    position: absolute; */
/*    left: 0; */
    width: 34%; 
}

#name.menu_image {
/*    top: 39; */
/*    left: 22; */
    width: 37%;
}

#text1.menu_image {
    width: 20%;
}

#text2_hover.menu_image {
    cursor: pointer;
    display: none;
}

#text2.menu_image:hover {
    cursor: pointer;
}

#text3.menu_image {
    width: 60%;
}

#text4.menu_image {
    width: 20%;
}

#text5_hover.menu_image {
    cursor: pointer;
    display: none;
}

#text5.menu_image:hover {
    cursor: pointer;
}

#text5_2 {
    display: none;
}

#wn_form {
    display: none;
}

#whts_new {
    width: 40%;
    height: 50px;

    font-size: 30;
    color: #2E2915;
/*    border: transparent; */
    text-align: center;
}

.h_bar {
    height: 2px;
    width: 100%;
    background: #828282;
}

/* Footer */
#footer {
    height: 50px;
    width: 100%;
    background: #d9d9d9;

    position: absolute;
    bottom: 0;
}

.pipe {
    height: 3px
    background: blue;
    color: #d9d9d9;
}

.authors {
    font-size: 10px;
    color: #828282;


    /* Centrar el texto horizontal y verticalmente */
    text-align: center;
    vertical-align: middle;    
    line-height: 50px;
}
